* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    background-color: #ecf0f1;
}

#main {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

header {
    background-color: #8e44ad;
    font-family: "Oswald", sans-serif;
    color: #ecf0f1;
    font-size: 20px;
    padding: 15px;
    width: 100%;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 20px;
}

.menu {
    margin-bottom: 20px;

}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 15px;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #e74c3c;
    color: #ecf0f1;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-family: "Oswald";
    border-radius: 4px;

}

.menu li:hover {
    background-color: #c0392b;

}

.menu li a {
    text-decoration: none;
    color: #ecf0f1;
    cursor: default;
    display: block;

}

.menu li a:active {
    color: #f1c40f;
}


.right {

    font-family: "Source Sans Pro";
    background-color: #2980b9;
    padding: 18px;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 20px;
}

.right h3 {
    font-family: "Oswald";
    text-align: center;
}

.col-6 {
    font-family: "Source Sans Pro";
    margin-bottom: 20px;


}

.col-6 h2 {
    font-family: "Oswald";
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
}

.col-6 p {
    text-align: justify;
}


footer {
    clear: both;
    background-color: #16a085;
    font-family: "Source Sans Pro";
    padding: 6px;
    border-radius: 4px;
    text-align: center;

}

    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

